workflows/n8n/Hjn3igk5yGKsD8my.json
{
  "updatedAt": "2026-06-04T09:18:48.444Z",
  "createdAt": "2026-05-19T07:11:19.454Z",
  "id": "Hjn3igk5yGKsD8my",
  "name": "Main_Project",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "knime-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4112,
        1280
      ],
      "id": "f6a1c69e-0e8a-429a-984c-aa4e1b0119fb",
      "name": "Webhook",
      "webhookId": "20160209-f090-40e4-b71e-9fb456752d37"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200,
          "enableStreaming": false
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -3520,
        1040
      ],
      "id": "35b90666-3c6d-4cb9-8ff8-c57391a0dc7c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {
          "destinationFieldName": "splitdata"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3728,
        1424
      ],
      "id": "576229b6-3fa5-4085-a3af-81b6ef0fc85b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3104,
        1888
      ],
      "id": "24fea507-25d9-44c4-99ac-1d946f2b36cd",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "batchSize": "={{ 2 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3456,
        1520
      ],
      "id": "abbe20b3-0a19-4f92-a8de-5f95810c45e5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// This script flattens the nested results array into a single list\nconst flattenedData = [];\n\n// Loop through the incoming batches\nfor (const item of $input.all()) {\n  // Access the nested 'results' array based on your specific structure$('Aggregate').first().json.data\n  const rows = item.json.data; \n  \n  rows.forEach(row => {\n    // Navigate into the 'results' array inside each 'output'\n    const finalRow = row.output.results[0]; \n    if (finalRow) {\n        flattenedData.push({ json: finalRow });\n    }\n  });\n}\n\nreturn flattenedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3152,
        1072
      ],
      "id": "2b8c0b99-6651-4d73-9c97-0ece0dad7579",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3056,
        1296
      ],
      "id": "3b5c7374-a5a7-4875-b45b-53c081722601",
      "name": "Wait",
      "webhookId": "37b39d2b-85cf-455d-b60c-662f0f6ab254"
    },
    {
      "parameters": {
        "description": "\"Use this tool to search the local Reference Database to classify trade data. The database uses SQLite syntax and contains 4 tables: Manufacturers, Product_Type, Model, and Blacklist. You must write a valid SQLite query and pass it into the 'query' parameter. If the query returns 0 rows, it means the product does not exist in the database. This is a successful execution. DO NOT execute another query; accept the empty result and immediately output the final answer.\"",
        "workflowId": {
          "__rl": true,
          "value": "i4wmqxk7doGhHNbm",
          "mode": "list",
          "cachedResultUrl": "/workflow/i4wmqxk7doGhHNbm",
          "cachedResultName": "Tool - SQLite Query"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "id": "4239354f-505e-4f1e-9d34-233da3cc66a8",
      "name": "execute_sqlite_query"
    },
    {
      "parameters": {
        "jsCode": "// This converts the AI's string output into actual n8n rows\nconst rawString = $input.first().json.output;\ntry {\n  return JSON.parse(rawString);\n} catch (e) {\n  // If the AI added extra text, this finds the JSON part\n  const jsonMatch = rawString.match(/\\[[\\s\\S]*\\]/);\n  return JSON.parse(jsonMatch[0]);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2512,
        1968
      ],
      "id": "2df3f282-79cd-4c19-8e7a-091671a07b5c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "database": "C:/n8n-local/data/model_database.db",
        "operation": "executeQuery",
        "query": "SELECT * FROM Models WHERE Model_Number LIKE 'T3dso%'"
      },
      "type": "n8n-nodes-sqlite.sqlite",
      "typeVersion": 1,
      "position": [
        -2784,
        1744
      ],
      "id": "2660d69f-a9af-42b8-94e0-0b779009f1d0",
      "name": "SQLite1"
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "C:/n8n-local/data/Inbound",
        "events": [
          "add"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -2336,
        -32
      ],
      "id": "2f97b6ef-d00a-489a-9707-debe1225496b",
      "name": "Local File Trigger"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -944,
        1136
      ],
      "id": "fbbb8b8d-f4fc-4ccc-8e6a-bca9dde3975d",
      "name": "Extract from File5"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2592,
        80
      ],
      "id": "9f908df3-bf8f-4282-beb7-e610e3f8a2c6",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        -16
      ],
      "id": "182ceb0b-a16a-423d-9344-abe14545ad73",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "80tePkx9BfAbjOE8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        496,
        -128
      ],
      "id": "43128c16-26f2-411b-a0f3-2c9f108bcf4e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "4WArdgo48WBegqtY",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:/n8n-local/data/Errors/test.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1200,
        -368
      ],
      "id": "fa01ed2b-7576-4fe4-a5de-1d891e8fb671",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Process this array of trade records and extract the classification data according to your system instructions:\n\n{{ JSON.stringify($json.data) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "### ROLE\nYou are an Expert Data Classification & Extraction Agent specializing in the Test & Measurement equipment market. Your primary objective is to analyze global custom trade data to identify competitors, product types, and specific hardware models for our company's market intelligence. Our company is **Rohde & Schwarz** (also known as R&S).\n\n### CONTEXT & WORKFLOW\nYou will receive an array of raw trade data records. For each individual record object, you must follow this strict logical hierarchy. **CRITICAL LIMIT:** You are strictly limited to a MAXIMUM OF ONE tool call per record. You must never retry or loop tool calls.\n\n1. **Structural Feature Extraction:**\n   - **Model String (Anatomy Rule):** Isolate the raw alphanumeric model. Test & Measurement models typically consist of an alphabetic prefix followed by a numeric core sequence. You MUST actively detect and PERMANENTLY DELETE all extraneous text that follows the numeric core (e.g., promotional codes, version modifiers, packaging phrases, quantity markers like 'X2PCS'). Extract only the base hardware identifier.\n   - **Brand Identification (Adjacency Rule):** Search the product description aggressively. In trade data, the manufacturer's name almost always appears immediately preceding the model number. Extract the brand based on this adjacency, accounting for phonetic typos.\n   - **Critical Entity Fallback (Corporate Stripping Rule):** If the description fails, you MUST scan the \"Exporter Name\" and \"Importer Name\" fields. You must systematically strip away broker phrasing (e.g., \"On Behalf Of\", \"Through\") and legal entity suffixes (e.g., \"Corporation\", \"LLC\", \"Kft\", \"Sarl\", \"Ltd\", \"Usa\"). Extract ONLY the core operating brand name that remains. You MUST scan and strip these fields before ever resorting to \"NotFound\".\n   - **Explicit Product Type:** Extract the explicit equipment category stated in the \"Product\" or \"Product Description\" fields to use as the ground truth for conflict resolution.\n\n2. **Single Database Tool Execution (RAG & Series Focus):**\n   - **Derive the Ultra-Short Series Prefix (The 1-Digit Algorithm):** To capture general product families (e.g., capturing a '1000' series DB entry when the model is '1104'), you must aggressively truncate the model string. **The Rule:** Isolate the leading alphabetical characters and EXACTLY ONE numeric digit that immediately follows them. Strip away ALL subsequent numbers and letters. (Examples: 'DS1104Z' MUST become 'DS1'. 'Pxie4080' MUST become 'Pxie4'. 'T3dso3504' MUST become 'T3').\n   - Formulate exactly **ONE** optimized SQLite query using the `execute_sqlite_query` tool to fetch both exact matches AND parent series matches simultaneously.\n   - **CRITICAL SQL STRATEGY:** You MUST use the SQL `LIKE` operator with the `%` wildcard applied ONLY to your derived ultra-short prefix. \n   - *Dynamic Query Template:* `SELECT * FROM Models WHERE Model_Number = '[FULL_EXTRACTED_MODEL]' OR Model_Number LIKE '[ULTRA_SHORT_PREFIX]%';`\n   - **FORCED TERMINATION RULE:** The database tool MUST ONLY BE CALLED ONCE. An empty result (0 rows) is a completely successful classification step, not an error. Upon receiving the tool's response—whether it contains rows or is empty—your VERY NEXT ACTION must be to stop tool usage and generate the final JSON response. Do not rethink, retry, or formulate a new query under any circumstances.\n\n3. **Post-Query Logic & Memory Evaluation:**\n   Evaluate the rows returned from your single database tool call using the following criteria:\n   * **Exact Match Scenario:** If a database row matches your raw extracted model string exactly, adopt its verified metadata for manufacturer and product type. Output the exact model string.\n   * **Series / Partial Match Scenario (Conflict Resolution Rule):** If the database confirms a parent series prefix match, adopt the verified manufacturer. **HOWEVER**, compare the database's `Primary_Product_Type` against the explicit `Product` field in the raw input data. If the raw input explicitly states a clear instrument category that differs from the database series category, you MUST OVERRIDE the database and output the explicit product type from the raw input. Do not overwrite the model number; retain the original extracted model string.\n   * **No Database Match Scenario:** If the tool returns an empty dataset, proceed to the internal knowledge fallback. You MUST respect the explicit input values; if the \"Product\" field explicitly designates a category, output that classification directly. Do not output \"NotFound\" if a valid category is provided in the raw text.\n\n### STRICT DATABASE SCHEMA (NEW_DB)\nYou are strictly restricted to querying the following tables and exact columns:\n- Table: `Models` \n  Columns: `Model_Number`, `Primary_Manufacturer`, `Primary_Product_Type`\n- Table: `Manufacturers` \n  Columns: `Primary_Name`, `Synonyms`\n- Table: `Product_Types` \n  Columns: `Primary_Product_Type`, `Synonyms`\n- Table: `Blacklist` \n  Columns: `Distributor_Name`, `Synonyms`\n\n### CLASSIFICATION RULES\n- **Manufacturer:** Output the clean, primary brand name of the equipment creator. Do not return generic missing value markers if an entity brand name is discoverable anywhere within the input record fields.\n- **Product_Type:** Classify the core equipment instrument category using standardized industry terminology.\n- **Model:** - If an Exact Match occurred: Use the verified database string.\n  - If a Series/Partial Match or Fallback occurred: Output the original, specific raw extracted model number from the incoming record.\n  - If completely missing or unidentifiable, output \"NotFound\".\n- **Competitor_Check:** Enforce this strict prioritization matrix:\n  - \"Ours\" -> If the identified manufacturer is **Rohde & Schwarz** (or R&S).\n  - \"SAM\" -> If the classified category represents a core Test & Measurement instrument within our product capability range. **CRITICAL:** If the product type is a core instrument range, it MUST be classified as \"SAM\" even if the specific manufacturer brand is currently unverified.\n  - \"Non-SAM\" -> If the product belongs to an unrelated industry vertical (e.g., medical, consumer commodities), or if any extracted entity matches a record inside the `Blacklist` table.\n- **Confidence_Score:** A decimal value between 0.00 and 1.00 indicating structural certainty.\n- **Match_Reason:** Provide a short precise explanation of how the record was classified. You must explicitly state: 1) The source of the decision (e.g., exact DB match, parent series DB match, or fallback to internal knowledge). 2) How the Manufacturer was identified (e.g., extracted from Exporter Name, or found in product description). 3) How the Product_Type was determined (e.g., explicit raw input vs. DB series category).\n\n### OUTPUT PROTOCOL\n- You must process every single object in the incoming input data array.\n- Follow the attached output parser schema instructions exactly to format the array of results.\n- **CRITICAL FORMATTING RULE:** Output ONLY a single, valid JSON object starting with `{ \"output\": [ ... ] }`. \n- **DO NOT** wrap your response in an `action` or `text` array format (e.g., do not output `[{\"action\": \"parse\", \"text\": \"...\"}]`).\n- Do not include markdown formatting, backticks, conversational text, or commentary."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        640,
        -352
      ],
      "id": "d6c7bc2b-6551-419d-b1de-9c20c479069d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"description\": \"The list of processed trade records containing extracted models and classifications.\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"Manufacturer\": {\n        \"type\": \"string\",\n        \"description\": \"The clean, primary brand name of the equipment creator.\"\n      },\n      \"Product_Type\": {\n        \"type\": \"string\",\n        \"description\": \"The classified core equipment instrument category.\"\n      },\n      \"Model\": {\n        \"type\": \"string\",\n        \"description\": \"The isolated hardware/software model number string, or 'NotFound'.\"\n      },\n      \"Competitor_Check\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"Ours\",\n          \"SAM\",\n          \"Non-SAM\"\n        ]\n      },\n      \"Confidence_Score\": {\n        \"type\": \"number\",\n        \"minimum\": 0.0,\n        \"maximum\": 1.0\n      },\n     \"Match_Reason\": {\n            \"type\": \"string\",\n            \"description\": \"A short precise explanation of how the record was classified, including the data source used, how the manufacturer was found, and why the product type was chosen.\"\n          }\n    },\n    \"required\": [\n      \"Manufacturer\",\n      \"Product_Type\",\n      \"Model\",\n      \"Competitor_Check\",\n      \"Confidence_Score\",\n      \"Match_Reason\"\n    ],\n    \"additionalProperties\": false\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        816,
        -160
      ],
      "id": "6b33c822-9d57-4a15-b33e-fff5b47e9b95",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\n// 1. Target the nested 'data' array inside the first n8n item\nconst records = items[0].json.data;\n\n// 2. Loop through each record inside that array\nfor (const record of records) {\n    \n    // Safely grab the description from the current record\n    const description = record[\"Product Description\"] || record[\"product_description\"] || record[\"ProductDescription\"] || record.Description || \"\";\n    \n    let rawModel = \"NotFound\";\n    let shortPrefix = \"NotFound\";\n\n    if (description !== \"\") {\n        // Look for a string with letters followed by numbers (e.g., DS1104Z, Pxie4080)\n        const modelMatch = description.match(/\\b([a-zA-Z]+[0-9]+[a-zA-Z0-9-]*)\\b/i);\n        \n        if (modelMatch) {\n            rawModel = modelMatch[1];\n            \n            // Truncate to just the letters and the FIRST digit\n            const prefixMatch = rawModel.match(/^([a-zA-Z]+[0-9])/);\n            if (prefixMatch) {\n                shortPrefix = prefixMatch[1];\n            }\n        }\n    }\n\n    // 3. Push each record out as its own separate n8n item\n    results.push({\n        json: {\n            ...record,\n            Raw_Model: rawModel,\n            Short_Prefix: shortPrefix\n        }\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        -224
      ],
      "id": "a93392b0-83f2-4ad5-932a-a206ddeb5c3e",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a789b550-1f65-459d-90bc-bc8513b174af",
              "leftValue": "={{ $json.Primary_Manufacturer }}",
              "rightValue": "NotFound",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1776,
        336
      ],
      "id": "eb9be35e-859b-45d6-9b17-44d70cefdb08",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "008a2b53-9d6b-4ab1-ba13-4456ce3c6f36",
              "name": "=Final_Manufacturer",
              "value": "={{ $json.Primary_Manufacturer }}",
              "type": "string"
            },
            {
              "id": "553467c5-2625-4484-9a2a-eac8c72b97a5",
              "name": "Final_Product_Type",
              "value": "={{ $json.Primary_Product_Type }}",
              "type": "string"
            },
            {
              "id": "be79cf32-b870-4bc8-9afe-cfc7ed3bb4b8",
              "name": "Final_Model",
              "value": "={{ $json.Model_Number }}",
              "type": "string"
            },
            {
              "id": "c46dcdc8-6d42-4bf4-ac33-9d099f5e8084",
              "name": "Match_Status",
              "value": "Found",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1472,
        432
      ],
      "id": "fd01786f-b712-4130-a100-edf797995c3e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4b6653d-6f0f-4959-a57c-ccddc1c703b0",
              "name": "Model_Number",
              "value": "={{ $json.Model_Number }}",
              "type": "string"
            },
            {
              "id": "4003820c-43f0-40e9-b1b1-b36ccd1bea3d",
              "name": "Primary_Manufacturer",
              "value": "={{ $json.Primary_Manufacturer }}",
              "type": "string"
            },
            {
              "id": "abf0b9c5-a06f-4dac-ab82-697b316e336e",
              "name": "Primary_Product_Type",
              "value": "={{ $json.Primary_Product_Type }}",
              "type": "string"
            },
            {
              "id": "d960802d-6af9-4837-bbd2-8e946a90441a",
              "name": "Match_Status",
              "value": "NotFound",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        224
      ],
      "id": "7434953b-cbf5-4237-8616-9a170cdc85ea",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "database": "C:/n8n-local/data/model_database.db",
        "operation": "executeQuery",
        "query": "=SELECT Model_Number, Primary_Manufacturer, Primary_Product_Type \nFROM Models \nWHERE Model_Number = '{{ $json.Raw_Model }}' \n   OR Model_Number LIKE '{{ $json.Short_Prefix }}%'\n\nUNION ALL\n\nSELECT 'NotFound' AS Model_Number, 'NotFound' AS Primary_Manufacturer, 'NotFound' AS Primary_Product_Type\nWHERE NOT EXISTS (\n    SELECT 1 FROM Models \n    WHERE Model_Number = '{{ $json.Raw_Model }}' \n       OR Model_Number LIKE '{{ $json.Short_Prefix }}%'\n);"
      },
      "type": "n8n-nodes-sqlite.sqlite",
      "typeVersion": 1,
      "position": [
        -416,
        -32
      ],
      "id": "a87c0a8f-d8b4-41be-8455-856429e021ae",
      "name": "SQLite3"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ false }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -608,
        48
      ],
      "id": "dc571427-00e2-4ece-a3c3-ea96b28706f2",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "const found_list = [];\nconst not_found_list = [];\n\n// 1. Grab the 6 perfectly merged items from the Loop's Done branch\nconst allItems = $input.all();\n\n// 2. Sort them into your two lists\nfor (const item of allItems) {\n    if (item.json.Match_Status === \"Found\") {\n        found_list.push(item.json);\n    } else {\n        not_found_list.push(item.json);\n    }\n}\n\n// 3. Output the two separate Python-style collections\nreturn {\n    found_items: found_list,\n    not_found_batch: not_found_list\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -320
      ],
      "id": "77d21252-cd67-4af1-81b1-752372c0716a",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "// 1. Grab ALL results from the current SQLite query (whether it's 1, 0, or 21 items)\nconst sqliteResults = $input.all().map(item => item.json);\n\n// 2. Reach back to get your original Excel columns (Date, HS Code, Raw_Model, etc.)\nconst originalRow = $(\"Loop Over Items1\").item.json;\n\n// Make sure we have a clean string to test against\nconst targetModel = originalRow.Raw_Model ? originalRow.Raw_Model.toString().toLowerCase().trim() : \"\";\n\n// 3. Filter out the absolute garbage (nulls, \"NotFound\" placeholders)\nconst validMatches = sqliteResults.filter(m => \n    m && m.Primary_Manufacturer && m.Primary_Manufacturer !== \"NotFound\" && m.Model_Number\n);\n\nlet bestMatch = null;\n\nif (validMatches.length > 0) {\n    // PRIORITY 1: Search the valid results for an EXACT match (case-insensitive)\n    const exactMatch = validMatches.find(m => \n        m.Model_Number.toString().toLowerCase().trim() === targetModel\n    );\n\n    // PRIORITY 2: If no perfect match exists, fall back to the first valid partial match\n    bestMatch = exactMatch || validMatches[0];\n}\n\n// 4. Merge the original data with the best database result, strictly returning ONE row\nif (bestMatch) {\n  return [{\n    json: {\n      ...originalRow,              \n      Final_Manufacturer: bestMatch.Primary_Manufacturer,\n      Final_Product_Type: bestMatch.Primary_Product_Type,\n      Final_Model: bestMatch.Model_Number,\n      Match_Status: \"Found\"\n    }\n  }];\n} else {\n  return [{\n    json: {\n      ...originalRow,              \n      Final_Manufacturer: \"NotFound\",\n      Final_Product_Type: \"NotFound\",\n      Final_Model: \"NotFound\",\n      Match_Status: \"NotFound\"\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        48
      ],
      "id": "b4a71733-b5cb-42af-8b91-c6497f2ca5e6",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "database": "C:/n8n-local/data/model_database.db",
        "operation": "executeQuery",
        "query": "select * from models;"
      },
      "type": "n8n-nodes-sqlite.sqlite",
      "typeVersion": 1,
      "position": [
        -2784,
        1536
      ],
      "id": "07f6b307-4074-403b-8bac-eccf491a9705",
      "name": "SQLite4"
    },
    {
      "parameters": {
        "jsCode": "// --- HELPER: Strips hyphens, spaces, and symbols for perfect matching ---\nfunction clean(str) {\n    if (!str) return \"\";\n    return str.toString().toLowerCase().replace(/[^a-z0-9]/g, '');\n}\n\nconst found_list = [];\nconst not_found_list = [];\n\n// 1. Safely extract DB Rows\nconst dbItems = $(\"Retrieve-DB-Models\").all();\nconst dbRows = [];\nfor (const item of dbItems) {\n    if (Array.isArray(item.json)) {\n        dbRows.push(...item.json);\n    } else {\n        dbRows.push(item.json);\n    }\n}\n\n// 2. Build the dictionary for Layer 1\nconst exactMatchMap = new Map();\nfor (const row of dbRows) {\n    if (row.Model_Number) {\n        exactMatchMap.set(clean(row.Model_Number), row);\n    }\n}\n\n// 3. Safely extract your Excel rows \nconst inputItems = $input.all();\nconst recordsToProcess = [];\nfor (const item of inputItems) {\n    if (item.json && Array.isArray(item.json.data)) {\n        recordsToProcess.push(...item.json.data);\n    } else {\n        recordsToProcess.push(item.json);\n    }\n}\n\n// 4. Process all rows\nfor (const originalRow of recordsToProcess) {\n    \n    let rawModel = \"\";\n    let shortPrefix = \"\";\n    const description = originalRow[\"Product Description\"] || originalRow[\"product_description\"] || originalRow.Description || \"\";\n    \n    if (description !== \"\") {\n        const modelMatch = description.match(/\\b([a-zA-Z]+[0-9]+[a-zA-Z0-9-]*)\\b/i);\n        if (modelMatch) {\n            rawModel = modelMatch[1];\n            // Grab FIRST number for safe series matching\n            const prefixMatch = rawModel.match(/^([a-zA-Z]+[0-9])/);\n            if (prefixMatch) {\n                shortPrefix = prefixMatch[1];\n            }\n        }\n    }\n\n    const targetModel = clean(rawModel);\n    const targetPrefix = clean(shortPrefix);\n    let bestMatch = null;\n\n    // ==========================================\n    // THE LAYERED MATCHER\n    // ==========================================\n    if (targetModel !== \"\") {\n        \n        // LAYER 1: The Exact Match\n        if (exactMatchMap.has(targetModel)) {\n            bestMatch = exactMatchMap.get(targetModel);\n        } \n        \n        // LAYER 2: The Partial / Prefix Match\n        else {\n            bestMatch = dbRows.find(dbRow => {\n                if (!dbRow.Model_Number) return false;\n                const cleanDbModel = clean(dbRow.Model_Number);\n                \n                // Partial Check: Does one string contain the other? (e.g. DB 'DS1000' vs Excel 'DS1000Z')\n                const isContainsMatch = targetModel.includes(cleanDbModel) || cleanDbModel.includes(targetModel);\n                \n                // Prefix Check: Do they share a starting series? (e.g. 'ds1')\n                const isPrefixMatch = targetPrefix.length >= 3 && cleanDbModel.startsWith(targetPrefix);\n\n                return isContainsMatch || isPrefixMatch;\n            });\n        }\n    }\n    // ==========================================\n\n    const debugTrace = `DB Size: ${dbRows.length} | Found Model: '${rawModel}' | Cleaned: '${targetModel}'`;\n\n    // --- STEP C: Merge and Route the Data ---\n    if (bestMatch && bestMatch.Primary_Manufacturer !== \"NotFound\") {\n        found_list.push({\n            ...originalRow,\n            Raw_Model: rawModel,\n            Short_Prefix: shortPrefix,\n            Final_Manufacturer: bestMatch.Primary_Manufacturer,\n            Final_Product_Type: bestMatch.Primary_Product_Type,\n            Final_Model: bestMatch.Model_Number,\n            Match_Status: \"Found\",\n            Debug_Log: debugTrace\n        });\n    } else {\n        not_found_list.push({\n            ...originalRow,\n            Raw_Model: rawModel || \"NotFound\",\n            Short_Prefix: shortPrefix || \"NotFound\",\n            Final_Manufacturer: \"NotFound\",\n            Final_Product_Type: \"NotFound\",\n            Final_Model: \"NotFound\",\n            Match_Status: \"NotFound\",\n            Debug_Log: debugTrace\n        });\n    }\n}\n\n// 5. Output perfectly native n8n items\nconst all_items = [...found_list, ...not_found_list];\nreturn all_items.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        -16
      ],
      "id": "c160fa79-6732-4719-b2c4-db392be50327",
      "name": "last best"
    },
    {
      "parameters": {
        "jsCode": "// --- HELPER: Cleans strings perfectly to UPPERCASE alphanumeric only ---\nfunction clean(str) {\n    if (!str) return \"\";\n    return str.toString().toUpperCase().replace(/[^A-Z0-9]/g, '');\n}\n\nconst found_list = [];\nconst not_found_list = [];\n\n// 1. Safely extract DB Rows\nconst dbItems = $(\"Retrieve-DB-Models\").all();\nconst dbRows = [];\nfor (const item of dbItems) {\n    if (Array.isArray(item.json)) {\n        dbRows.push(...item.json);\n    } else {\n        dbRows.push(item.json);\n    }\n}\n\n// 2. Build the dictionary for Layer 1\nconst exactMatchMap = new Map();\nfor (const row of dbRows) {\n    if (row.Model_Number) {\n        exactMatchMap.set(clean(row.Model_Number), row);\n    }\n}\n\n// 3. Safely extract your Excel rows \nconst inputItems = $input.all();\nconst recordsToProcess = [];\nfor (const item of inputItems) {\n    if (item.json && Array.isArray(item.json.data)) {\n        recordsToProcess.push(...item.json.data);\n    } else {\n        recordsToProcess.push(item.json);\n    }\n}\n\n// 4. Process all rows\nfor (const originalRow of recordsToProcess) {\n    \n    let rawModel = \"\";\n    let desc = originalRow[\"Product Description\"] || originalRow[\"product_description\"] || originalRow.Description || \"\";\n    \n    if (desc !== \"\") {\n        // ==========================================\n        // DYNAMIC PRE-CLEANING\n        // Eradicates mentions of quantities (e.g., 2pcs, 360 pcs, 10pce) \n        // throughout the description before extraction\n        // ==========================================\n        desc = desc.replace(/\\b\\d+\\s*(pcs|pc|pcs\\b|pce|pieces|pcsx)\\b/gi, '');\n\n        const modelMatch = desc.match(/\\b([A-Za-z]+[0-9]+[A-Za-z0-9-]*)\\b/);\n        if (modelMatch) {\n            let extracted = modelMatch[1].toUpperCase();\n            \n            // Clean up internal trailing garbage specifically attached to the model (e.g., CP500X2PCS -> CP500X)\n            rawModel = extracted.replace(/\\d+\\s*(PCS|PC|PCE|PIECES)$/gi, '');\n        }\n    }\n\n    const targetModel = clean(rawModel);\n    \n    let bestMatch = null;\n    let matchType = \"NotFound\"; \n    let finalUsedSearchString = targetModel; \n\n    // ==========================================\n    // THE LAYERED MATCHER\n    // ==========================================\n    if (targetModel !== \"\") {\n        \n        // LAYER 1: The Exact Match\n        if (exactMatchMap.has(targetModel)) {\n            bestMatch = exactMatchMap.get(targetModel);\n            matchType = \"Exact\";\n        } \n        \n        // LAYER 2: The Descending Search Match\n        else {\n            let tempStr = targetModel;\n\n            while (tempStr.length >= 3 && !bestMatch) {\n                finalUsedSearchString = tempStr; // Track what string finally triggered the match\n                \n                bestMatch = dbRows.find(dbRow => {\n                    if (!dbRow.Model_Number) return false;\n                    const cleanDbModel = clean(dbRow.Model_Number);\n                    if (cleanDbModel.length < 3) return false;\n                    \n                    return cleanDbModel === tempStr || cleanDbModel.startsWith(tempStr) || tempStr.startsWith(cleanDbModel);\n                });\n\n                if (!bestMatch) {\n                    tempStr = tempStr.slice(0, -1);\n                }\n            }\n\n            if (bestMatch) {\n                matchType = \"Partial\";\n            }\n        }\n    }\n    // ==========================================\n\n    // Dynamic Database metrics for precise Debug Logging\n    const totalDbMatchesFound = bestMatch ? dbRows.filter(r => clean(r.Model_Number).startsWith(finalUsedSearchString)).length : 0;\n    const dbMatchedModelName = bestMatch ? bestMatch.Model_Number : \"None\";\n    \n    const compactDebugLog = `MatchesFound: ${totalDbMatchesFound} | DBModel: ${dbMatchedModelName} | SearchStr: ${finalUsedSearchString || \"None\"} | Status: ${matchType}`;\n\n    // --- STEP C: Merge and Route the Data ---\n    if (bestMatch && bestMatch.Primary_Manufacturer !== \"NotFound\") {\n        found_list.push({\n            ...originalRow,\n            Raw_Model: rawModel,\n            Final_Manufacturer: bestMatch.Primary_Manufacturer,\n            Final_Product_Type: bestMatch.Primary_Product_Type,\n            // REQUIREMENT UPDATE: Keeps the cleaned real-world model variant intact for database updates\n            Final_Model: rawModel, \n            Match_Status: matchType, \n            Debug_Log: compactDebugLog\n        });\n    } else {\n        not_found_list.push({\n            ...originalRow,\n            Raw_Model: rawModel || \"NotFound\",\n            Final_Manufacturer: \"NotFound\",\n            Final_Product_Type: \"NotFound\",\n            Final_Model: rawModel || \"NotFound\",\n            Match_Status: \"NotFound\",\n            Debug_Log: compactDebugLog\n        });\n    }\n}\n\n// 5. Output perfectly native n8n items\nconst all_items = [...found_list, ...not_found_list];\nreturn all_items.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -16
      ],
      "id": "96ead388-0b57-402d-a3e6-7777a67724d8",
      "name": "latest"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Match_Status }}",
                    "rightValue": "Exact",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "de5280ba-7538-49ed-b19e-01ef9932616b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Exact"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bd407f88-bd66-49e7-b13c-43c91b02dfb9",
                    "leftValue": "={{ $json.Match_Status }}",
                    "rightValue": "Partial",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "partial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ed397816-bc55-4ec5-99c4-296a1e656138",
                    "leftValue": "={{ $json.Match_Status }}",
                    "rightValue": "NotFound",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NotFound"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1456,
        1472
      ],
      "id": "b7c4a276-ff48-4242-b9b7-2e735585a297",
      "name": "Switch",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -704,
        1136
      ],
      "id": "dfebdba2-b618-4d4b-9ba0-9c522f6063b4",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2624,
        2880
      ],
      "id": "f09ecbc6-9732-4514-90b6-64f1079cc4c4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "80tePkx9BfAbjOE8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2336,
        2848
      ],
      "id": "84ef65df-e71f-470b-ad88-2381b9c99ecd",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "4WArdgo48WBegqtY",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Process this array of trade records and extract the classification data according to your system instructions:\n\n{{ JSON.stringify($input.all().map(item => item.json)) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "### ROLE\nYou are an Expert Data Classification & Extraction Agent specializing in the Test & Measurement equipment market. Your primary objective is to analyze global custom trade data to identify competitors, product types, and specific hardware models for our company's market intelligence. Our company is **Rohde & Schwarz** (also known as R&S).\n\n### CONTEXT & WORKFLOW\nYou will receive an array of raw trade data JSON records that failed local database matching. You do not have web search access. For each record, you must rely entirely on your deep internal knowledge of the Test & Measurement industry and contextual clues within the provided JSON to determine the true manufacturer and product category. \n\n1. **Structural Feature Extraction & Pre-Processing:**\n   - **Model String:** Look at the `Raw_Model` and `Product_Description` fields. Ensure you are evaluating the base hardware identifier. Ignore quantity markers (e.g., 'X2PCS') or shipping modifiers.\n   - **Brand Identification:** Scan the `Product_Description` and `Exporter_Name`. In trade data, the manufacturer's name often appears immediately before the model number. Strip away broker phrasing (\"On Behalf Of\") and legal entity suffixes (\"LLC\", \"Kft\", \"Sarl\", \"Ltd\").\n\n2. **Internal Knowledge Retrieval & Verification:**\n   - Cross-reference the `Raw_Model` and extracted entity names against your internal training data. \n   - Determine the **Original Equipment Manufacturer (OEM)**. Use your knowledge to separate third-party distributors or logistics brokers (e.g., \"Amazon\", \"Mouser Electronics\", \"Avia Fed Service\") from the actual hardware creator.\n   - Verify the exact equipment category (e.g., \"Digital Multimeter\", \"Signal Generator\", \"Oscilloscope\").\n\n3. **Conflict Resolution:**\n   - If your internal knowledge confidently identifies the exact model as a completely different product type than what is listed in the raw `Product` column, trust your internal knowledge.\n   - If your internal knowledge cannot confidently identify the model, fallback entirely to the raw `Product` and `Exporter_Name` fields provided in the JSON to formulate your best educated classification.\n\n### CLASSIFICATION RULES & SCHEMA\nFor every record in the input array, you must output a corresponding object with the following exact keys:\n\n- **row_id:** You MUST output the exact `row_id` string provided in the input data. Do not alter it.\n- **Manufacturer:** Output the clean, primary brand name of the equipment creator (e.g., \"Rigol\", \"National Instruments\", \"Keysight\"). If completely undiscoverable, output \"NotFound\".\n- **Product_Type:** Classify the core equipment instrument category using standardized industry terminology (e.g., \"Oscilloscope\", \"Signal Generator\").\n- **Model:** Output the cleaned official model number. If your internal knowledge confirms the official formatting, use it. Otherwise, retain the `Raw_Model`.\n- **Competitor_Check:** Enforce this strict prioritization matrix:\n  - \"Ours\" -> If the identified manufacturer is **Rohde & Schwarz** (or R&S).\n  - \"SAM\" -> If the classified category represents a core Test & Measurement instrument (e.g., Oscilloscopes, Signal Generators, Spectrum Analyzers, Multimeters). It MUST be classified as \"SAM\" even if the specific manufacturer brand is currently unverified.\n  - \"Non-SAM\" -> If the product belongs to an unrelated industry vertical (e.g., medical, human body analyzers, consumer commodities, raw materials).\n- **Confidence_Score:** A decimal value between 0.00 and 1.00 indicating your certainty in the Manufacturer and Product Type classification.\n- **Match_Reason:** Provide a short, precise explanation (Max 15 words) of how the record was classified (e.g., \"Identified Rigol model via internal knowledge\", or \"Fallback to raw exporter name due to unrecognized model\").\n\n### OUTPUT PROTOCOL\n- You must process EVERY SINGLE object in the incoming input data array. Do not skip any rows.\n- **CRITICAL FORMATTING RULE:** Output an array of JSON objects matching the required schema exactly.\n- **DO NOT** wrap your response in markdown code blocks (e.g., do not use ```json).\n- **DO NOT** include conversational text, pleasantries, or commentary. Output raw JSON only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2272,
        2560
      ],
      "id": "9183bc78-f788-447d-9396-14757e25fb98",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"description\": \"The list of processed trade records containing extracted models and classifications.\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"row_id\": {\n        \"type\": \"string\",\n        \"description\": \"The exact row_id provided in the input data.\"\n      },\n      \"Manufacturer\": {\n        \"type\": \"string\",\n        \"description\": \"The clean, primary brand name of the equipment creator.\"\n      },\n      \"Product_Type\": {\n        \"type\": \"string\",\n        \"description\": \"The classified core equipment instrument category.\"\n      },\n      \"Model\": {\n        \"type\": \"string\",\n        \"description\": \"The isolated hardware/software model number string, or 'NotFound'.\"\n      },\n      \"Competitor_Check\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"Ours\",\n          \"SAM\",\n          \"Non-SAM\"\n        ]\n      },\n      \"Confidence_Score\": {\n        \"type\": \"number\",\n        \"minimum\": 0,\n        \"maximum\": 1\n      },\n      \"Match_Reason\": {\n        \"type\": \"string\",\n        \"description\": \"A short precise explanation of how the record was classified.\"\n      }\n    },\n    \"required\": [\n      \"row_id\",\n      \"Manufacturer\",\n      \"Product_Type\",\n      \"Model\",\n      \"Competitor_Check\",\n      \"Confidence_Score\",\n      \"Match_Reason\"\n    ],\n    \"additionalProperties\": false\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2096,
        2832
      ],
      "id": "ef2e120b-7876-4c2e-817a-c1ad3775b860",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "content": "This is the original ai agent setup\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        -176
      ],
      "id": "2f673742-c670-4d9f-ab03-707749d3e61d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Adds a global unique row_id to all 30,000 items\nreturn $input.all().map((item, index) => {\n    item.json.row_id = \"row_\" + index + \"_\" + Date.now();\n    return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        1136
      ],
      "id": "29ab2929-a508-433f-9508-6ac47c5bf096",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "// Keeps ONLY the columns the AI needs to save API token costs\nreturn $input.all().map(item => {\n    return {\n        json: {\n            // CRITICAL: We must keep the row_id so we can merge it later!\n            row_id: item.json.row_id,\n            Raw_Model: item.json.Raw_Model || \"NotFound\",\n            Product: item.json.Product || item.json.product || \"\",\n            Product_Description: item.json[\"Product Description\"] || item.json.Description || \"\",\n            Exporter_Name: item.json[\"Exporter Name\"] || item.json.exporter_name || \"\"\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        1920
      ],
      "id": "6e8f6f7d-a0c6-4276-8710-c9d35b95e0c2",
      "name": "Strip Data for AI"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2608,
        2544
      ],
      "id": "42c45eb4-0523-43a9-9b6e-a65ab1fc6469",
      "name": "Loop Over Items3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Grabs the array the AI made and turns it back into individual n8n items\nreturn $input.first().json.output.map(item => {\n    return { json: item };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        2560
      ],
      "id": "f85ec511-4947-49f3-a2a7-48e91ac8dd63",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        1136
      ],
      "id": "b4f74cf2-66a4-4873-9d9d-b2296a638166",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "options": {
          "reset": true,
          "combine": "={{ true }}"
        }
      },
      "type": "n8n-nodes-splitinbatches-advanced.splitInBatchesAdvanced",
      "typeVersion": 1,
      "position": [
        512,
        1472
      ],
      "id": "46be81af-b584-41e0-ad73-6025f4248e3b",
      "name": "SplitInBatches-Advanced"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OH3HqIRkz0m1PPnF",
          "mode": "list",
          "cachedResultUrl": "/workflow/OH3HqIRkz0m1PPnF",
          "cachedResultName": "AI Process"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1584,
        1920
      ],
      "id": "bfbfb302-9954-4b70-8257-1c48fa744def",
      "name": "Call 'AI Process'"
    },
    {
      "parameters": {
        "jsCode": "// 1. Grab all the combined items coming out of the loop's 'done' branch\nconst allItems = $input.all();\n\n// 2. Filter out ONLY the empty {} objects\nconst cleanData = allItems.filter(item => {\n    const data = item.json;\n    \n    // If it is an array (even an empty one []), keep it!\n    if (Array.isArray(data)) return true;\n    \n    // If it is a standard object and has zero keys {}, kick it out!\n    if (Object.keys(data).length === 0) return false;\n    \n    // Otherwise, keep the row!\n    return true;\n});\n\n// 3. Pass the clean rows to the File converter\nreturn cleanData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        1136
      ],
      "id": "21293a37-8338-437a-b6fe-61bbb844d900",
      "name": "Empty Row filter"
    },
    {
      "parameters": {
        "jsCode": "// --- HELPER: Cleans strings perfectly to UPPERCASE alphanumeric only ---\nfunction clean(str) {\n    if (!str) return \"\";\n    return str.toString().toUpperCase().replace(/[^A-Z0-9]/g, '');\n}\n\n// --- HELPER: Checks if keywords from string A exist in string B (Fuzzy Token Match) ---\nfunction tokenMatch(strA, strB) {\n    if (!strA || !strB) return false;\n    const wordsA = strA.toString().toUpperCase().split(/[^A-Z0-9]+/);\n    const cleanB = strB.toString().toUpperCase();\n    \n    // Ignore generic corporate entity indicators and small stop words\n    const ignoreList = [\"AND\", \"THE\", \"FOR\", \"WITH\", \"V\", \"A\", \"LLC\", \"INC\", \"CORP\", \"LTD\", \"KFT\", \"USA\", \"CO\", \"OF\", \"BY\", \"TO\"];\n    \n    // GENERIC WORDS LIST: If a word is on this list, it cannot pass validation on its own.\n    // It requires another unique technical word nearby (e.g., \"MULTIMETER\" or \"LCR\") to match.\n    const genericWords = [\"METER\", \"PART\", \"PARTS\", \"DEVICE\", \"SYSTEM\", \"ELECTRONIC\", \"DIGITAL\"];\n    \n    let matchedUniqueWord = false;\n    let matchedGenericWord = false;\n\n    for (const word of wordsA) {\n        if (word.length > 1 && !ignoreList.includes(word)) {\n            if (cleanB.includes(word)) {\n                if (genericWords.includes(word)) {\n                    matchedGenericWord = true;\n                } else {\n                    matchedUniqueWord = true;\n                }\n            }\n        }\n    }\n    \n    // Professional Decision Rule: A match is valid if it contains a unique technical word,\n    // OR if it's an absolute full phrase match, preventing generic \"METER\" cross-contamination.\n    return matchedUniqueWord || (matchedGenericWord && cleanB.includes(strA.toString().toUpperCase()));\n}\n\nconst found_list = [];\nconst not_found_list = [];\n\n// 1. Safely extract DB Rows\nconst dbItems = $(\"Retrieve-DB-Models\").all();\nconst dbRows = [];\nfor (const item of dbItems) {\n    if (Array.isArray(item.json)) {\n        dbRows.push(...item.json);\n    } else {\n        dbRows.push(item.json);\n    }\n}\n\n// 2. Build the dictionary for Layer 1\nconst exactMatchMap = new Map();\nfor (const row of dbRows) {\n    if (row.Model_Number) {\n        exactMatchMap.set(clean(row.Model_Number), row);\n    }\n}\n\n// 3. Safely extract your Excel rows \nconst inputItems = $(\"SplitInBatches-Advanced\").all();\nconst recordsToProcess = [];\nfor (const item of inputItems) {\n    if (item.json && Array.isArray(item.json.data)) {\n        recordsToProcess.push(...item.json.data);\n    } else {\n        recordsToProcess.push(item.json);\n    }\n}\n\n// 4. Process all rows\nfor (const originalRow of recordsToProcess) {\n    \n    let rawModel = \"\";\n    let desc = originalRow[\"Product Description\"] || originalRow[\"product_description\"] || originalRow.Description || \"\";\n    const exporter = originalRow[\"Exporter Name\"] || originalRow[\"exporter_name\"] || \"\";\n    const rawProductCol = originalRow[\"Product\"] || originalRow[\"product\"] || \"NotFound\";\n    const productCategory = originalRow[\"Product Category\"] || originalRow[\"product_category\"] || \"\";\n    \n    if (desc !== \"\") {\n        // DYNAMIC PRE-CLEANING: Eradicate floating quantity strings from description context\n        desc = desc.replace(/\\b\\d+\\s*(pcs|pc|pcs\\b|pce|pieces|pcsx)\\b/gi, '');\n\n        const modelMatch = desc.match(/\\b([A-Za-z]+[0-9]+[A-Za-z0-9-]*)\\b/);\n        if (modelMatch) {\n            let extracted = modelMatch[1].toUpperCase();\n            rawModel = extracted.replace(/\\d+\\s*(PCS|PC|PCE|PIECES)$/gi, '');\n        }\n    }\n\n    const targetModel = clean(rawModel);\n    \n    let bestMatch = null;\n    let matchType = \"NotFound\"; \n    let finalUsedSearchString = targetModel; \n\n    // Final target destination variables\n    let finalManufacturer = \"NotFound\";\n    let finalProductType = \"NotFound\";\n    \n    // Troubleshooting verification trace logs\n    let mfgVerifyLog = \"N/A\";\n    let prodVerifyLog = \"N/A\";\n\n    // ==========================================\n    // THE LAYERED MATCHER WITH VALIDATION\n    // ==========================================\n    if (targetModel !== \"\") {\n        \n        // LAYER 1: The Exact Match\n        if (exactMatchMap.has(targetModel)) {\n            bestMatch = exactMatchMap.get(targetModel);\n            matchType = \"Exact\";\n            \n            // Exact matches completely bypass verification checks\n            finalManufacturer = bestMatch.Primary_Manufacturer || \"NotFound\";\n            finalProductType = bestMatch.Primary_Product_Type || \"NotFound\";\n            mfgVerifyLog = \"Bypassed(Exact)\";\n            prodVerifyLog = \"Bypassed(Exact)\";\n        } \n        \n        // LAYER 2: The Descending Search Match (Requires String Cross-Validation)\n        else {\n            let tempStr = targetModel;\n\n            while (tempStr.length >= 3 && !bestMatch) {\n                finalUsedSearchString = tempStr; \n                \n                bestMatch = dbRows.find(dbRow => {\n                    if (!dbRow.Model_Number) return false;\n                    const cleanDbModel = clean(dbRow.Model_Number);\n                    if (cleanDbModel.length < 3) return false;\n                    \n                    return cleanDbModel === tempStr || cleanDbModel.startsWith(tempStr) || tempStr.startsWith(cleanDbModel);\n                });\n\n                if (!bestMatch) {\n                    tempStr = tempStr.slice(0, -1);\n                }\n            }\n\n            if (bestMatch) {\n                matchType = \"Partial\";\n                \n                const dbMfg = bestMatch.Primary_Manufacturer || \"NotFound\";\n                const dbProdType = bestMatch.Primary_Product_Type || \"NotFound\";\n                \n                // A. PARTIAL VALIDATION: Manufacturer Check (Exporter Name + Description Context)\n                const cleanExporterAndDesc = `${exporter} ${desc}`.toUpperCase();\n                if (dbMfg !== \"NotFound\" && (cleanExporterAndDesc.includes(clean(dbMfg)) || tokenMatch(dbMfg, cleanExporterAndDesc))) {\n                    finalManufacturer = dbMfg;\n                    mfgVerifyLog = \"Verified\";\n                } else {\n                    finalManufacturer = \"NotFound\"; \n                    mfgVerifyLog = \"Mismatch->NotFound\";\n                }\n\n                // B. PARTIAL VALIDATION: Product Type Check (Product + Description + Product Category Context)\n                // UPGRADE: Added productCategory to check overall repeated context across all available columns\n                const cleanProductContext = `${rawProductCol} ${desc} ${productCategory}`.toUpperCase();\n                if (dbProdType !== \"NotFound\" && tokenMatch(dbProdType, cleanProductContext)) {\n                    finalProductType = dbProdType;\n                    prodVerifyLog = \"Verified\";\n                } else {\n                    // Fallback to original data instead of erasing the field\n                    finalProductType = rawProductCol; \n                    prodVerifyLog = `Mismatch->Fallback(${rawProductCol})`;\n                }\n            }\n        }\n    }\n    \n    // Explicit cleanup for baseline unmapped items\n    if (matchType === \"NotFound\") {\n        finalManufacturer = \"NotFound\";\n        finalProductType = \"NotFound\";\n        mfgVerifyLog = \"NoModelMatch\";\n        prodVerifyLog = \"NoModelMatch\";\n    }\n    // ==========================================\n\n    // Dynamic Database metrics for troubleshooting logs\n    const totalDbMatchesFound = bestMatch ? dbRows.filter(r => clean(r.Model_Number).startsWith(finalUsedSearchString)).length : 0;\n    const dbMatchedModelName = bestMatch ? bestMatch.Model_Number : \"None\";\n    \n    // Highly verbose troubleshooting string for detailed data debugging\n    const comprehensiveDebugLog = `Matches: ${totalDbMatchesFound} | DBModel: ${dbMatchedModelName} | SearchStr: ${finalUsedSearchString || \"None\"} | Status: ${matchType} | MfgCheck: ${mfgVerifyLog} | ProdCheck: ${prodVerifyLog}`;\n\n    // --- STEP C: Merge and Route the Data ---\n    if (matchType !== \"NotFound\") {\n        found_list.push({\n            ...originalRow,\n            Raw_Model: rawModel,\n            Final_Manufacturer: finalManufacturer,\n            Final_Product_Type: finalProductType,\n            Final_Model: rawModel, \n            Match_Status: matchType, \n            Debug_Log: comprehensiveDebugLog\n        });\n    } else {\n        not_found_list.push({\n            ...originalRow,\n            Raw_Model: rawModel || \"NotFound\",\n            Final_Manufacturer: \"NotFound\",\n            Final_Product_Type: \"NotFound\",\n            Final_Model: rawModel || \"NotFound\",\n            Match_Status: \"NotFound\",\n            Debug_Log: comprehensiveDebugLog\n        });\n    }\n}\n\n// 5. Output perfectly native n8n items\nconst all_items = [...found_list, ...not_found_list];\nreturn all_items.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        1488
      ],
      "id": "ae3ac0af-6946-4ea8-a7ab-1b14820cd4fa",
      "name": "DB-Matching"
    },
    {
      "parameters": {
        "database": "C:/n8n-local/data/model_database.db",
        "operation": "executeQuery",
        "query": "SELECT Model_Number, Primary_Manufacturer, Primary_Product_Type FROM Models;"
      },
      "type": "n8n-nodes-sqlite.sqlite",
      "typeVersion": 1,
      "position": [
        848,
        1488
      ],
      "id": "389d5bf3-1a3e-4329-8f20-f5ec83db8032",
      "name": "Retrieve-DB-Models",
      "executeOnce": false,
      "notesInFlow": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "// 1. Grab all the NotFound items\nconst allItems = $input.all();\nconst batchSize = 10;\nconst finalBatches = [];\n\n// 2. Loop through them and chop them into blocks of 10\nfor (let i = 0; i < allItems.length; i += batchSize) {\n    // Grab 10 items and strip them down to just their JSON data\n    const chunk = allItems.slice(i, i + batchSize).map(item => item.json);\n    \n    // 3. Package them into a single n8n item called \"batch_records\"\n    finalBatches.push({\n        json: {\n            batch_records: chunk\n        }\n    });\n}\n\n// 4. Output the perfect packages\nreturn finalBatches;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        1920
      ],
      "id": "0ec458b0-81c7-417f-861c-f2d9c8078220",
      "name": "Making batches of 10"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst cleanItems = items.map(item => {\n    // 1. Grab the raw data\n    let rawModel = item.json.Model || \"\";\n    let rawMfg = item.json.Manufacturer || \"\";\n    let rawType = item.json.Product_Type || \"\";\n\n    // 2. Trim invisible spaces and force to UPPERCASE\n    return {\n        json: {\n            ...item.json,\n            Model_Number: rawModel.toString().trim().toUpperCase(),\n            Primary_Manufacturer: rawMfg.toString().trim().toUpperCase(),\n            Primary_Product_Type: rawType.toString().trim().toUpperCase()\n        }\n    };\n});\n\nreturn cleanItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        2144
      ],
      "id": "72f1a1c7-cc86-4f6d-bf56-dfe3fb379fd2",
      "name": "Renaming Cols"
    },
    {
      "parameters": {
        "database": "C:/n8n-local/data/model_database.db",
        "table": "Models",
        "columns": "Model_Number,Primary_Manufacturer,Primary_Product_Type"
      },
      "type": "n8n-nodes-sqlite.sqlite",
      "typeVersion": 1,
      "position": [
        2160,
        2144
      ],
      "id": "355eb1f4-6ff8-419c-86a1-73a3c3ac551a",
      "name": "INSERT-NEW-MODELS",
      "onError": "continueRegularOutput",
      "notes": "INSERT Query works for all the inputs and saves them in db, Checked manually. Error: 'Could not get parameter' - possibly due to frontend code error since it's a community node. Verdict - This is error is safe to ignore!"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "row_id",
              "field2": "row_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2288,
        1904
      ],
      "id": "dd1ed92a-0195-407b-b9de-435a9e1724c0",
      "name": "Merge- AI OUT"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2864,
        1472
      ],
      "id": "7f337dc0-d559-44e5-8216-b74e76fedc8f",
      "name": "APPEND - ALL ROWS"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2064,
        400
      ],
      "id": "7b4a6e6e-879f-4533-95ff-196c84ad7ba9",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2112,
        1216
      ],
      "id": "3cce51aa-d31f-4ed2-820d-b6f84118f517",
      "name": "Webhook1",
      "webhookId": "85bcb600-dbc0-4ef0-ab46-f0670db6d23f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1280,
        1216
      ],
      "id": "b64a67fc-7803-4ac0-ae31-2b9a1aa08bf6",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ 'C:/n8n-local/data/Processed/' + $('Loop Over Items2').first().binary.data.fileName.replace(/\\.([^.]+)$/, '_finished.$1') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1488,
        1216
      ],
      "id": "07f54827-1ce2-4b13-af53-98c53aa4e74e",
      "name": "Write ALL OUTPUTS"
    },
    {
      "parameters": {
        "command": "cmd.exe /c \"\"%USERPROFILE%\\AppData\\Local\\Programs\\KNIME\\knime.exe\" -nosplash -consoleLog -application com.nodepit.batch.application.NodePitBatchExecutor --reset \"%USERPROFILE%\\knime-workspace\\test_trigger\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -944,
        816
      ],
      "id": "828e8c16-3161-46aa-af7d-22137b1b7286",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ 'C:/n8n-local/data/quicktest/' + $('Loop Over Items2').item.binary.data.fileName.replace(/\\.([^.]+)$/, '_finished.$1') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1904,
        560
      ],
      "id": "38ee7641-8547-4cba-85ce-b9c2e3875bb1",
      "name": "Read EACH JSONS"
    },
    {
      "parameters": {
        "fileSelector": "=C:/n8n-local/data/Inbound/*.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1712,
        1216
      ],
      "id": "c729fa8d-9736-4aac-8ac0-521a32140736",
      "name": "LIST ALL JSONS"
    }
  ],
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execute_sqlite_query": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File5": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Local File Trigger": {
      "main": [
        []
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "SQLite3": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQLite3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "SplitInBatches-Advanced",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SplitInBatches-Advanced",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Strip Data for AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge- AI OUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "SplitInBatches-Advanced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip Data for AI": {
      "main": [
        [
          {
            "node": "Making batches of 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Write ALL OUTPUTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches-Advanced": {
      "main": [
        [
          {
            "node": "Empty Row filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retrieve-DB-Models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'AI Process'": {
      "main": [
        [
          {
            "node": "Merge- AI OUT",
            "type": "main",
            "index": 1
          },
          {
            "node": "Renaming Cols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty Row filter": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB-Matching": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve-DB-Models": {
      "main": [
        [
          {
            "node": "DB-Matching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Making batches of 10": {
      "main": [
        [
          {
            "node": "Call 'AI Process'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renaming Cols": {
      "main": [
        [
          {
            "node": "INSERT-NEW-MODELS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge- AI OUT": {
      "main": [
        [
          {
            "node": "SplitInBatches-Advanced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APPEND - ALL ROWS": {
      "main": [
        []
      ]
    },
    "Convert to File1": {
      "main": [
        []
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "LIST ALL JSONS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Extract from File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write ALL OUTPUTS": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read EACH JSONS": {
      "main": [
        []
      ]
    },
    "LIST ALL JSONS": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "03fb7687-3819-407e-8a90-2cf6f8ba4fdb",
  "activeVersionId": null,
  "versionCounter": 1659,
  "triggerCount": 2,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-19T07:11:19.460Z",
      "createdAt": "2026-05-19T07:11:19.460Z",
      "role": "workflow:owner",
      "workflowId": "Hjn3igk5yGKsD8my",
      "projectId": "ySMohz6WFKH5tAbg",
      "project": {
        "updatedAt": "2026-05-19T07:10:33.827Z",
        "createdAt": "2026-05-19T07:09:02.777Z",
        "id": "ySMohz6WFKH5tAbg",
        "name": "Siranj ks <siranj.sasi@rohde-schwarz.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "cc3354fe-08cb-411e-8459-4a7fa20e3c8b"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}