workflows/n8n/hXAYExjyQvoVvImc.json
{
  "updatedAt": "2026-07-09T06:53:40.963Z",
  "createdAt": "2026-06-10T06:19:19.507Z",
  "id": "hXAYExjyQvoVvImc",
  "name": "INSERT_MODELS",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "database": "={{ $json.data.modeldb_location }}",
        "operation": "executeQuery",
        "query": "={{ $('Loop Over Items').item.json.query }}"
      },
      "type": "n8n-nodes-sqlite.sqlite",
      "typeVersion": 1,
      "position": [
        1088,
        848
      ],
      "id": "354258a9-3586-4e00-8ca8-a80f8d2730ea",
      "name": "SQLite",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        352,
        688
      ],
      "id": "a8110d51-a620-48da-aa20-1a2c1a74e50d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        688
      ],
      "id": "aba05293-7968-4869-9f16-3e24b72ae90d",
      "name": "Webhook",
      "webhookId": "9bb8098a-0510-4ca1-b76f-e30dfae4068c"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -560,
        688
      ],
      "id": "b4b56628-6aad-4d35-8037-5ddb45328dd3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fileSelector": "=C:/n8n-local/knime_variable_config.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        608,
        784
      ],
      "id": "7ccb02c1-7f3a-492d-b2dc-bc851b75ad78",
      "name": "Read config"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        800,
        784
      ],
      "id": "fd3753df-e3b0-40f0-b16e-faf409811c22",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  // 1. Grab the clean data (handles both flat data or 'd' wrapped data automatically)\n  const data = item.json.d || item.json;\n\n  // 2. Extract and format the specific columns (uppercasing them)\n  const model = data.Model ? String(data.Model).toUpperCase() : \"\";\n  const mfg = data.Manufacturer ? String(data.Manufacturer).toUpperCase() : \"\";\n  const pType = data.Product_Type ? String(data.Product_Type).toUpperCase() : \"\";\n\n  // 3. Escape single quotes to prevent SQL syntax crashes \n  const safeModel = model.replace(/'/g, \"''\");\n  const safeMfg = mfg.replace(/'/g, \"''\");\n  const safePType = pType.replace(/'/g, \"''\");\n\n  // 4. Build the exact SQL Insert statement\n const sqlQuery = `INSERT OR IGNORE INTO Models (Model_Number, Primary_Manufacturer, Primary_Product_Type) VALUES ('${safeModel}', '${safeMfg}', '${safePType}');`;\n\n  // 5. Output only the clean data and the final query\n  return {\n    json: {\n      Model_Number: model,\n      Primary_Manufacturer: mfg,\n      Primary_Product_Type: pType,\n      query: sqlQuery\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        688
      ],
      "id": "989d54ed-92c6-4086-b523-96e49f9bc971",
      "name": "Renaming Columns"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "47afece8-f918-4486-84d7-4bf83b0cd2bb",
              "leftValue": "={{ $json.Model }}",
              "rightValue": "NotFound",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "65c9be95-79a1-4a11-8cc1-bd269ace31a3",
              "leftValue": "={{ $json.Model }}",
              "rightValue": "notfound",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "19027163-e3e5-447a-8714-d33303dfdceb",
              "leftValue": "={{ $json.Manufacturer }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "41d90862-ec07-4b9a-84d8-93762b7bb49d",
              "leftValue": "={{ $json.Manufacturer }}",
              "rightValue": "notfound",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "d9d75844-b998-4092-b965-e63c307f6c2b",
              "leftValue": "={{ $json.Confidence_Score }}",
              "rightValue": 0.8,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -304,
        688
      ],
      "id": "5b382607-1f69-4f1e-98b2-eb1698afde21",
      "name": "Filter"
    }
  ],
  "connections": {
    "SQLite": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Read config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read config": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "SQLite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renaming Columns": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Renaming Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "acd8f17c-9021-461b-a87d-f21fbd8549d0",
  "activeVersionId": "acd8f17c-9021-461b-a87d-f21fbd8549d0",
  "versionCounter": 140,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-10T06:19:19.513Z",
      "createdAt": "2026-06-10T06:19:19.513Z",
      "role": "workflow:owner",
      "workflowId": "hXAYExjyQvoVvImc",
      "projectId": "ySMohz6WFKH5tAbg",
      "project": {
        "updatedAt": "2026-05-19T07:10:33.827Z",
        "createdAt": "2026-05-19T07:09:02.777Z",
        "id": "ySMohz6WFKH5tAbg",
        "name": "Siranj ks <siranj.sasi@rohde-schwarz.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "cc3354fe-08cb-411e-8459-4a7fa20e3c8b"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version acd8f17c",
    "description": ""
  }
}