workflows/n8n/NiF8RrA6XkGY43Jf.json
{
  "updatedAt": "2026-06-30T09:26:51.188Z",
  "createdAt": "2026-06-04T08:34:18.628Z",
  "id": "NiF8RrA6XkGY43Jf",
  "name": "Phase1_Main",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        -32
      ],
      "id": "1ddaa33b-0dd5-4a8d-a366-5994704eb30e",
      "name": "Webhook1",
      "webhookId": "85bcb600-dbc0-4ef0-ab46-f0670db6d23f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        368,
        -32
      ],
      "id": "3f44dbf3-2f80-44cc-9b61-d4dc3c5e8d0b",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.data.inbound_location }}/*.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        112,
        -32
      ],
      "id": "cc95dea7-19c4-4aa0-8276-7aa53c8e6bc3",
      "name": "LIST ALL JSONS"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dVnU2OHHFKihCbAO",
          "mode": "list",
          "cachedResultUrl": "/workflow/dVnU2OHHFKihCbAO",
          "cachedResultName": "Phase2_Classification"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "input"
          },
          "matchingColumns": [
            "data"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        656,
        -16
      ],
      "id": "20ce2d4a-c930-422b-81f8-dcf11e512915",
      "name": "Call 'Phase2_Classification'"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Extract from File').first().json.data.processed_location + '/'+ $('Loop Over Items2').first().binary.data.fileName.replace(/\\.([^.]+)$/, '_finished.$1') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1216,
        176
      ],
      "id": "114e5136-d505-4fa7-8141-69fc421965bd",
      "name": "Write ALL OUTPUTS"
    },
    {
      "parameters": {
        "command": "cmd.exe /c \"\"%USERPROFILE%\\AppData\\Local\\Programs\\KNIME\\knime.exe\" -nosplash -consoleLog -application com.nodepit.batch.application.NodePitBatchExecutor --reset \"%USERPROFILE%\\knime-workspace\\Final_Process\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1440,
        672
      ],
      "id": "5980b924-1f5c-46fb-866c-3100b9aea4a5",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        944,
        64
      ],
      "id": "ee636c2d-df7f-43fb-8406-725e39667b26",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "command": "=cmd.exe /c \"\"%USERPROFILE%\\AppData\\Local\\Programs\\KNIME\\knime.exe\" -nosplash --launcher.suppressErrors -consoleLog -application com.nodepit.batch.application.NodePitBatchExecutor -reset \"%USERPROFILE%\\knime-workspace\\Final_Process\"\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        720,
        -288
      ],
      "id": "87f0d8c9-a93d-436f-9fb9-b245301909a4",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "fileSelector": "=C:/n8n-local/knime_variable_config.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -320,
        -32
      ],
      "id": "8a1537f3-1b06-4ecc-b430-ad040821700b",
      "name": "Read config"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -128,
        -32
      ],
      "id": "6954f891-ab4a-4c0a-9a01-b26f5221ccfe",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ 'C:/n8n-local/data/Processed/' + $('Loop Over Items2').first().binary.data.fileName.replace(/\\.([^.]+)$/, '_finished.$1') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1392,
        -320
      ],
      "id": "4c5fda20-6018-4e35-ba64-70724bfb7cdd",
      "name": "Write ALL OUTPUTS1"
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Read config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LIST ALL JSONS": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Phase2_Classification'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Phase2_Classification'": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write ALL OUTPUTS": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Write ALL OUTPUTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read config": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "LIST ALL JSONS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "97df64ff-a5e0-48c1-ae07-2c1a05f180b1",
  "activeVersionId": "97df64ff-a5e0-48c1-ae07-2c1a05f180b1",
  "versionCounter": 161,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-04T08:34:18.636Z",
      "createdAt": "2026-06-04T08:34:18.636Z",
      "role": "workflow:owner",
      "workflowId": "NiF8RrA6XkGY43Jf",
      "projectId": "ySMohz6WFKH5tAbg",
      "project": {
        "updatedAt": "2026-05-19T07:10:33.827Z",
        "createdAt": "2026-05-19T07:09:02.777Z",
        "id": "ySMohz6WFKH5tAbg",
        "name": "Siranj ks <siranj.sasi@rohde-schwarz.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "cc3354fe-08cb-411e-8459-4a7fa20e3c8b"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 97df64ff",
    "description": ""
  }
}